#eyeonstore-single {
  .eyeon-store {
    margin-bottom: 60px;

    .mcd-store-cols {
      display: flex;
      gap: 30px;

      .mcd-retailer-image-col {
        flex: 0 0 300px;

        .mcd-retailer-image {
          position: relative;

          img {
            width: 100%;
            height: auto;
          }

          .custom-flags {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 4px;
            position: absolute;
            left: 0;
            top: 8px;
            align-items: flex-start;
            z-index: 2;

            li {
              background-color: #58a8ca;
              color: white;
              padding: 4px 10px;
              font-size: 12px;
              line-height: 14px;
            }
          }
        }
      }

      .mcd-retailer-details {
        flex: 1;

        .mcd-retailer-name {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 20px;
          line-height: 24px;
        }

        .eyeon-location-and-phone {
          margin-bottom: 20px;
        }

        .eyeon-retailer-details-cols {
          display: flex;
          gap: 30px;

          .eyeon-retailer-content {
            flex: 1;

            .mcd-retailer-description {
              margin-bottom: 20px;
              display: flex;
              flex-direction: column;
              gap: 12px;
            }

            .mcd-social-links {
              margin-bottom: 20px;
            }
          }

          .mcd-retailer-opening-hours {
            flex: 0 0 260px;

            h4 {
              font-size: 17px;
              font-weight: 600;
              margin: 0 0 10px;
            }

            .hours-sets {
              display: flex;
              flex-direction: column;
              gap: 4px;

              .hours-set {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .day {
                  opacity: 1;
                }

                .time {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  .eyeon-deals {
    .deals-list {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-gap: 20px;

      &.grid3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      &.grid4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }

      &.grid5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
      }

      &.grid6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
      }
    }
  }

  @include media-query(tablet-landscape) {
    .eyeon-store {
      margin-bottom: 30px;

      .mcd-store-cols {
        .mcd-retailer-image-col {
          flex: 0 0 30%;
        }

        .mcd-retailer-details .eyeon-retailer-details-cols {
          flex-direction: column;

          .mcd-retailer-opening-hours {
            flex: 0 0 auto;
          }
        }
      }
    }

    .eyeon-deals .deals-list {
      grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }
  }

  @include media-query(tablet-portrait) {
    .eyeon-deals .deals-list {
      grid-gap: 15px;
      grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
  }

  @include media-query(mobile-large) {
    .eyeon-store {
      .mcd-store-cols {
        flex-direction: column;
        gap: 20px;

        .mcd-retailer-image-col .mcd-retailer-image img {
          max-width: 400px;
        }
      }
    }

    .eyeon-deals {
      h3.title {
        margin-bottom: 20px;
        padding-bottom: 14px;
        font-size: 20px;
      }
    }
  }

  @include media-query(mobile) {
    .eyeon-deals .deals-list {
      grid-gap: 15px;
      grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
  }
}